.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper > div{
    background: rgb(206, 122, 122);
    padding: 10px;
}
.wrapper > div:nth-child(odd) {
    background: #ddd;
}
/* --------------------------------------------------------------- */
#box {
    background-color: cadetblue;
    color: black;
}
.addBoxes {
    position: absolute;
    left: 20px;
    top: 50px;
    height: 150px;
    width: 200px;
    background-color: #555;
    padding: 20px;
    color: wheat;
}


img{
    width: 350px;
    height: 350px;
}