body{
    margin:0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(242, 242, 242);
}
a {
    text-decoration: none;
    color: #000;
}
li{
    padding-bottom: 8px;
}
.header-link { 
    /* hoving boxes */
    float: left;
    color: black;
    padding: 12px 18px; /* height, length */
    border-radius: 4px;
    text-decoration: none;
}

.header {
    overflow: hidden;
    font-size: 20px;
    padding: 20px 20px;
}

.header a.name_logo{
    font-weight: 700;
}
.header a:hover {
    background-color:#A6DED9;
}
.header-right {
    float: right;
}
@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
}

.panel{
    height: 80%;
    padding-left: 300px;    
    scroll-snap-align: end;
}
.pic_self {
    float: right;
    padding-right: 300px;
}

#design {
    position: relative;
    transform: translate(-50%, -50%);
}
#design::before {
    /* Highlight color */
    background-color: #93CAFA; /*#ADE3FA*/
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 40%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}
#model {
    position: relative;
    transform: translate(-50%, -50%);
}
#model::before {
    /* Highlight color */
    background-color: #B6C0F5; /*#83b1fa #99B7DE #B6C0F5 #A099DE*/
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 40%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}
#animate {
    position: relative;
    transform: translate(-50%, -50%);
}
#animate::before {
    /* Highlight color */
    background-color: #99B7DE;
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 40%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}
#research {
    position: relative;
    transform: translate(-50%, -50%);
}
#research::before {
    /* Highlight color */
    background-color: rgb(255, 209, 130);
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 40%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}