body {
    background-color: #FAF8F6;
}
h1 {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-left: 50px;
    margin-top: 40px;
    padding: 8px;
    background-color: rgba(71, 110, 71, 0.815);
}
a:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #FAF8F6;
    padding: 8px;
    background-color: rgba(71, 110, 71, 0.815);
    text-decoration: none;
}
a:visited {
    color: #FAF8F6;
}

.hair-left1 {
    position: relative;
    margin-left: -160px;
    margin-top: -122px;
    transform: rotate(50deg);
}
.hair-left2 {
    position: absolute;
    left: -190px;
    top: -150px;
    transform: rotate(60deg);
}

.left-eye {
    position: relative; 
    height: 40px;
    width: 40px;
    background-color: rgb(46, 45, 44);
    border-radius: 50%;
    display: inline-block;
    top: -300px;
    left: -50px;
}
.left-eyelash {
    position: absolute;
    /* rec */
    height: 50px;
    width: 7px;
    transform: rotate(10deg);
    left: 170px;
    top: 150px;
    background-color: rgb(46, 45, 44);
}
.left-eyebrow {
    /* oval */
    position: absolute;
    height: 20px;
    width: 80px;   
    border-radius: 50%;
    left: 110px;
    top: 140px;
    background-color: rgb(46, 45, 44);
  }

.right-eye { 
    /* a circle with the middle hollowed out */
    position: relative;
    border: solid 10px rgb(46, 45, 44);
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    width: 25px;
    height: 25px;
    top: -345px;
    left: 300px;
}

.right-eyelash {
    position: absolute;
    left: 330px;
    top: 155px;
    height: 65px;
    width: 8px;
    border-radius: 10px/10px;
    background-color: rgb(46, 45, 44);
}

.mouth {
    position: relative;
    left: 130px;
    top: -300px;
    width: 50%;
    height: 30%;
}
.right-hair1 {
    /* wanted to flip from left side BUT FAILED */
    position: relative;
    display: block;
    left: 300px;
    top: -800px;
    transform: rotate(-40deg);
}
.right-hair2 {
    position: relative;
    left: 300px;
    top: -1520px;
    transform: rotate(-60deg);
}
.face {
    /* egg shape */
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2in;
    width: 504px;
    height: 480px;
    background-color: rgb(209, 187, 130);
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30%;
}

.myDiv:hover {
    display: block;
    <div w3-include-html="sketch-hairUp.html"></div>
}
