body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin-left: 25ch; 
    margin-right: 25ch;
    background-color: rgb(0, 112, 43);
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20ch; 
  font-size: 24px; 
  margin-top: 3em;
  color: blue;
}
p {
  color: red;
}

a {
  text-decoration: none;
}
