*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-color: #222;
    animation-name: color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
  
@keyframes color {
    0% {
      background-color: rgb(231, 168, 73);
    }
    50% {
      background-color: #f44e42;
    }
    100% {
      background-color: rgb(231, 168, 73);
    }
}


.goat {
	background-image: url(https://tianyue-yi.github.io/Week07/jumpCycle.svg);
	background-size:  auto 100%;
	width: 320px;
	height: 900px; /*adjusted but original*/
	will-change: background-position;
	/* perspective: 50em; */

	animation-name: run-cycle;
	animation-duration: 1s;
	animation-delay: -0.5s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}
.goat-container {
	position: absolute;
	/* top: 20%;
	left: 25%; */
	transform: translate(-50%,-50%); 
	will-change: transform;
	transform-origin: center;
	transform: rotateY(50deg);
}
.move01{ /*for the goat*/
	animation-name: moveGoat;
	position: absolute;
	/* transform: rotateY(50deg); */
	animation-duration: 10s;
    animation-fill-mode: forwards
}

.hum { /*further adjustments needed*/
	background-image: url(https://tianyue-yi.github.io/Week07/walkCycle05.svg);
	background-size: auto 100%;
	width: 188px;
	height: 450px; /*still weird*/
	will-change: background-position;

	animation-name: walk-cycle;
	animation-duration: 2s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
}
.hum-container {
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%,-50%);
	will-change: transform;
	transform: rotateY(90deg);
}
.move02{ /*for the man*/
	position: absolute;
	/* transform: rotateY(50deg); */
	animation-name: moveMan;
	animation-delay: 5s;
	animation-duration: 11s;
  	animation-fill-mode: forwards
	/* -webkit-animation: glide02 5s ease-in-out alternate infinite; */
}

@keyframes run-cycle {
	100% {
		background-position: -3600px 0;
	}	
}

@keyframes walk-cycle {
	100% {
		
		background-position: -3600px 0;
	}
}

@keyframes moveGoat {
	from { 
		left: 0%; 
		top: 10%;
	}
	to { 
		left: 35%;
		top: -10%; 
		transform: rotateY(70deg);
		opacity: 0.01;
	}
}
@keyframes moveMan {
	from { 
		left: 30%; 
		top: 0%;
		transform: rotateY(70deg);
		opacity: 0.01;
	}
	to { 
		left: 70%;
		top: 20%; 		
	}
}

/* @-webkit-keyframes glide01 {
	from {
		left:15%;
    	top:0%;
		opacity: 1;
	}
	to {
		left: 40%;
		top: -15%;
		transform: scale(0.5);
		opacity: 0.1;
	}
}
@-webkit-keyframes glide02 {
	from {
		left:40%;
    	top:10%;
		opacity: 0.05;
		transform: scale(0.8);
		transform: rotateY(-70deg);
	}
	to {
		left: 70%;
		top: 30%;
		opacity: .8;
	}
} */