
body {
    background-color: rgb(13, 0, 193);
}

.board {
    position: absolute;
    /* display: flex;
    flex-direction: column */
    top: 30%;
    border: none;
    height: 25px;
    width: 250px;
    border-radius: 3px;
    background-color: rgb(240, 77, 18);

}

.img1 {
    position: absolute;
    transform: rotate(45deg);
}
.img2 {
    position: absolute;
    transform: rotate(-25deg);
}
.img3 {
    position: absolute;
    transform: rotate(90deg);
}

#person {
    position: absolute;
    top: 110px;
    left: 150px;
    cursor: pointer;
}
#headline {
    position: absolute;

    top: 90%;
    left: 5%;
    background-image: url("headline.png");
}