body {
    background-color: #181818;
    font-family: Aldrich;
    color: #FFFFFF;
}
#button {
    display: flex;
    justify-content: space-around;
}
a:link, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
a.button1{
    display:inline-block;
    padding: 0.4em; 1.2em;
    border:2px solid #FFFFFF;
    color: #FFFFFF;
    margin:100px 0px 600px; /*top right bottom left */
    border: radius 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font: weight 5px;
    text-align: center;
}
a.button1:hover{
    color:#181818;
    background-color:#FFFFFF;
}

.ball {
    width: 282px;
    height: 282px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 50%;
    overflow: hidden;
}
.eye {
    width: 200px;
    height: 200px;
    background-color: #f0eedb;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 150px 0;
    cursor: pointer;
    overflow: hidden;
}
.eyeball {
    width: 40px;
    height: 40px;
    background-color: #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 30px solid #576574;
    cursor: pointer;
    
}
.shut {
    width: 160px;
    height: 300px;
    /* background-color: black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 999;
    cursor: pointer;
    
}
.shut span {
    display: block;
    width: 100%;
    height: 10%;
    background-color: black; 
    border-radius: 0 0 60% 60%;
    
    transition: 0.4s all;
}

.eye:hover > .shut span {
    height: 100%;
}